<div class="container">
    <h1>Tüm Siparişler</h1>

	<table class="table">
		<thead>
			<tr>
				<th>id</th>
				<th>Sipariş edilen item id</th>
				<th>Sipariş id</th>
				<th>Sipariş mesajı</th>
				<th>Adrese teslimat</th>
				<th>Ödeme yöntemi</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
            <% @carts.each do |cart| %>
				<tr>
					<td><%= cart.id %></td>
					<td><%= cart.order_item_id %></td>
					<td><%= cart.order_id %></td>
					<td><%= cart.order_message %></td>
					<td><%= cart.delivery %></td>
					<td><%= cart.payment_method %></td>
					
					<td>
						<%= link_to "Edit", edit_order_detail_path(cart) %>
						<%= link_to "Delete", order_detail_path(cart), method: :delete %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
</div>