<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<div class="container-fluid bg">
  <div class="container">
        <div class="jumbotron">
          <h1 class="display-4" style="color:white;">CazipYemek!</h1>
          <p class="lead" style="color:white">Aynı lezzetlere indirimli ulaşmak <br>hiç bu kadar basit olmamıştı</p>
            <div class="btn-group">
              <button id="cities" class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Şehir Seçiniz
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="restoranlar">Tümü</a>
                <% @cities.each do |city| %>
                  <% if city.included == true %> 
                    <a class="dropdown-item" href="<%= city.slug %>"><%= city.name %></a>
                  <% end %>
                <% end %>
              </div>
            </div>
            <!--<div class="btn-group">-->
            <!--  <button id="districts" class="btn btn-secondary btn-lg dropdown-toggle" disabled type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--  Bölge Seçiniz-->
            <!--  </button>-->
            <!--  <div class="dropdown-menu" id="districts2">-->
            <!--    <option>Bölge</option>-->
            <!--  </div>-->
            <!--</div>-->
        </div><!--/jumbotron -->
    </div><!--/continer-->
</div><!--/container-fluid -->
        
<!--<div class="continer">        
  <div class="row tanitim">
    <div class="col-md-4 col-lg-4 col-sm-12">
      <center><img src="img/money.png" width="200" class="rounded-circle"><br>
      <p class="anasayfaBaslik">Tasarruf Et</p>
      <p class="tanitim-metni">açıklama metni açıklama metni açıklama metni açıklama metni açıklama metni açıklama metni açıklama metni açıklama metni  </p></center>
    </div>

    <div class="col-md-4 col-lg-4 col-sm-12">
      <center><img src="img/shopping.png" width="200" class="rounded-circle"><br>
      <p class="anasayfaBaslik">Kolay Al</p>
      <p class="tanitim-metni">açıklama metni açıklama metni açıklama metni açıklama metni açıklama metni açıklama metni açıklama metni açıklama metni  </p></center>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <center><img src="img/eat.png" width="200" class="rounded-circle"><br>
      <p class="anasayfaBaslik">Tadını Çıkar</p>
      <p class="tanitim-metni">açıklama metni açıklama metni açıklama metni açıklama metni açıklama metni açıklama metni açıklama metni açıklama metni  </p></center>
    </div>
    
    
  </div>-->
  
  <div class="row" id="neden-cazipyemek" style="background-color:#e6ffe6;">
    <div class="container mt-5 mb-5">
    <center><img src="img/groceries.png" width="100" class="mb-3"><br>
    <h3>CazipYemek Nedir?</h3>
      <p class="lead">Dünyada üretilen gıdaların her gün 1/3'ü çöpe gidiyor ve bunların % 40'ı halen tüketilebilir ve satılabilir durumda olanlar. CazipYemek ise her yıl ekonomimizden kaybolan 100 Milyar TL'nin üzerindeki gıda atığına farkındalık yaratmak için geliştirilen bir projedir. İşletmelerin gün sonunda hala satılabilir durumdaki ürünlerini yaklaşık %50 indirimli fiyatlarıyla kullanıcıyla buluşturuyoruz ve bu sayede gıda atığıyla mücadele ederken ekonomiye de katkı sağlıyoruz.
      </p>
      <img src="img/salad.png" width="100" class="mt-3"><br>
    <h3>Gıda İşletmeleri</h3>
      <p class="lead">CazipYemek ; iş modeli gereği yaratmış olduğu pazar sayesinde gıda işletmeleri için hem çevreci hem de ekonomik bir katma değer yaratmanın yanında müşteri kitlesi ile  işletmelerin yeni müşterilere ulaşmasına katkı sağlıyor. Sizde Gıda Atığı mücadele ederken bütçenize katkı sağlamak ve marka değerinizi yükseltmek istiyorsanız Cazipyemek’e katılın !
        </p>
      </center>
    </div>
  </div>
  
  <div class="row" id ="nasil-calisir" style="background-color:#e6ffff;">
    <div class="container mt-5 mb-5">
      
      <div class="row">
        <div class="col-md-6">
        
          <h4><b>Ürün Nasıl Satılır</b></h4><br>
          
          <p class="lead">
            <b>1. Fazla olan ürününüzü sistemimize yükleyin </b><br>
İşletmeniz kapanmadan dakikalar öncesinden ürün bilginizi ve stok sayısını girin. İlanınız saniyeler içinde yayınlanır.

<br><b>2. Yeni müşterilere ulaşın ve reklamınızı yapın</b><br>
 İşletmenizi hiç bilmeyen bir kullanıcıya ürünlerinizi deneme ve onları sabit müşteri kitlenize ekleme olanağı sağlar.

<br><b>3. Depolama ve çöp giderlerinizi minimize etmek için işletmenize çözümler sunar</b><br>
İşletmelerin bir sonraki güne depolamak için yapmış olduğu enerji tüketimini en aza indirger ve atık gıdadan kaynaklanan çöp masraflarını düşürür.

          </p>
        </div>

        <div class="col-md-6">
        <h4><b>Sipariş Nasıl Verilir</b></h4><br>
<p class="lead"><b>1. CazipYemek sitesine girdikten sonra etrafındaki fırsatları incele</b> <br>
<br><b>2. Sana en uygun fırsat menüsünü yakala ve öde</b><br>
<br><b>3. İndirimli menülerin tadını çıkar!</b><br>

        </p>
        </div>
        <center>
        <h3>Hakkımızda</h3> 
<p class="lead">CazipYemek ; gıda işletmelerinin gün sonunda hala satılabilir durumdaki ürünlerini son dakika indirimleriyle müşteriye sunan bir girişimdir
</p>        <h3>Misyonumuz</h3>
        <p class="lead">CazipYemek ; Birleşmiş Milletler tarafından belirlenen 2030 Sürdürülebilir Küresel Kalkınma Hedeflerinden İklim Değişikliği ile Mücadele, Açlığa Son, Sorumlu Üretim ve Tüketim, Sürdürülebilir Şehirler ve Topluluklar hedeflerine yönelik çözüm üretmek amacı ile kurulmuş bir girişimdir. Girişimimizin temel amacı Ülkemizdeki gıda atığına farkındalık yaratırken bir yandan da işletmelerin ve kullanıcıların kazan-kazan ilişkisine dayalı sürdürülebilir e-ticaret modeli yaratmaktır.
</p>
</center>
      </div>
    </div>
  </div>
  
</div>
