<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12">
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :manager %><br>
    <%= f.text_field :manager %>
  </div>
  <div class="field">
    <%= f.label :city_id %><br>
    <%= f.select(:city_id, @cities.all.collect {|a| [a.name, a.id] }) %>
  </div>
  <div class="field">
    <%= f.label :district_id %><br>
    <%= f.select(:district_id, @districts.all.collect {|d| [d.name, d.id] }) %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :company_phone %><br>
    <%= f.text_field :company_phone %>
  </div>
  <div class="field">
    <%= f.label :url_path %><br>
    <%= f.text_field :url_path %>
  </div>
    
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
  
  <div class="field">
    <%= f.label :manager_phone %><br>
    <%= f.text_field :manager_phone %>
  </div>
  <div class="field">
    <%= f.label :tax_number %><br>
    <%= f.text_field :tax_number %>
  </div>

  <div class="field">
  <%= f.label :food_type %><br>
  <%= f.select :food_type, [['Çiğ Köfte'],['Cafe'],['Deniz Mahsülleri'],['Ev Yemekleri'],['Fast Food'],['Kahvaltı & Börek'],['Pizza'],['Tatlı']] %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :rate %><br>
    <%= f.text_field :rate %>
  </div>
  <div class="field">
    <%= f.label :delivery %><br>
    <%= f.check_box :delivery %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div><!-- /col -->
</div><!-- /row -->
<% end %>
