<p id="notice"><%= notice %></p>

<div class="container-fluid"> 
	<div class="row mt-3 h-100">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 my-auto">
		</div>
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
			<p class="shoppingMenuBaslik">CazipYemek platformundaki tüm işletmeler <span style="font-size: 12px"><a href="/">Değiştir</a></span></p>
			<p>Aşağıdaki filtreleme seçeneklerinden aradığınız mutfak türünü ve size uygun ödeme ve hizmet seçeneklerinden istediğinizi seçerek sıralama yapabilirsiniz. </p>
			<div class="bd-example">
				<label>Filtrele: </label>
			  <div class="btn-group">
			    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sırala</button>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" href="#">A'dan Z'ye</a>
			      <a class="dropdown-item" href="#">Puana Göre</a>
			    </div>
			  </div><!-- /btn-group -->
			  <div class="btn-group">
			    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mutfak Türü</button>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" href="?food_type=Çiğ+Köfte">Çiğ Köfte</a>
			      <a class="dropdown-item" href="?food_type=Cafe">Cafe</a>
			      <a class="dropdown-item" href="?food_type=Deniz+mahsülleri">Deniz Mahsülleri</a>
			      <a class="dropdown-item" href="?food_type=Ev+Yemekleri">Ev Yemekleri</a>
            <a class="dropdown-item" href="?food_type=Fast+Food">Fast Food</a>
            <a class="dropdown-item" href="?food_type=Kahvaltı+%26+Börek">Kahvaltı & Börek</a>
			      <a class="dropdown-item" href="?food_type=Pizza">Pizza</a>
			      <a class="dropdown-item" href="?food_type=Tatlı">Tatlı</a>
			      			      			      			      			      
			    </div>
			  </div><!-- /btn-group -->
			  <div class="btn-group">
			    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ödeme Şekli</button>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" href="#">Nakit</a>
			      <a class="dropdown-item" href="#">Banka Kartı</a>
			      <a class="dropdown-item" href="#">Ticket Kart</a>
			      <a class="dropdown-item" href="#">Ticket Çek</a>
			      <a class="dropdown-item" href="#">Sodexo Kart</a>
			      <a class="dropdown-item" href="#">Sodexo Çek</a>
			      <div class="dropdown-divider"></div>
			      <a class="dropdown-item" href="#">Online Ödeme</a>
			    </div>
			  </div><!-- /btn-group -->
			  			  <div class="btn-group">
			    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hizmet Türü</button>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" href="/restoranlar">Tümü</a>
			      <a class="dropdown-item" href="?delivery=true">Adrese Teslimat</a>
			    </div>
			  </div><!-- /btn-group -->
			</div><!--  /fitreler  -->
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 my-auto"></div>
	</div>
</div>
<hr> <!-- Restoranlar sayfası üst kalıcı menüsü burada bitiyor -->


<table class="table table-hover">
  <thead>
    <tr>
      <th>Restoran</th>
      <!--<th>Manager</th>-->
      <th>Şehir</th>
      <th>Bölge</th>
      <!--<th>Adres</th>-->
      <!--<th>Company phone</th>-->
      <!--<th>Manager phone</th>-->
      <!--<th>Tax number</th>-->
      <th>Mutfak türü</th>
      <!--<th>Email</th>-->
      <th>Puan</th>
      <th>Adrese Teslimat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company %></td>
        <!--<td><%= company.manager %></td>-->
        <td><%= company.city.name %></td>
        <td><%= company.district.name %></td>
        <!--<td><%= company.address %></td>-->
        <!--<td><%= company.company_phone %></td>-->
        <!--<td><%= company.manager_phone %></td>-->
        <!--<td><%= company.tax_number %></td>-->
        <td><%= company.food_type %></td>
        <!--<td><%= company.email %></td>-->
        <td><%= company.rate %></td>
        <td><%= company.delivery ? "var" : "yok" %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Company', new_company_path %>
<% end <%></%>