<p id="notice"><%= notice %></p>
<!-- <div class="container-fluid"> 
	<div class="row mt-3 h-100">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 my-auto">
			<img src="../img/shopping.png" class="rounded-circle d-block mx-auto my-auto" width="100" data-toggle="modal" data-target="#sepetModal" data-whatever="@mdo" >
		</div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
			<p class="shoppingMenuBaslik"> <%= @company.name %> işletmesinin indirimli menüleri <span style="font-size: 12px"><a href="/">Değiştir</a></span></p>
			<p>Aşağıdaki menülerden istediğiniz miktarı girip <span style="color: black; border: 1px solid black; border-radius: 5px;">&nbsp;+&nbsp;</span> butonuna basarak sepetinize ekleyebilirsiniz. </p>
		</div>
	</div>
</div>  /restor fixed menu-->

<div class="container-fluid mt-3">
	<div class="row"> 
		<div class="profilHeader"></div>
		
		<%= render "layouts/shopping_cart" %>
	
		<div class="col-md-8 offset-md-1 profilSayfasi profilMobile">
			<table width="100%" class="mobiletable">
			<tr>
				<td>	
					<h3 class="menuItems"><%= @company.name %></h3>
					<p class="menuHour"> <%= @Products.first.try(:discounted_time) %> </p>
				</td>
				<td class="sagaHizala">
					<img src="../img/star.png">
					<p class="restoranPuan"><%= @company.rate %></p>
				</td>
			</table>
<br>
	
			<table width="100%">
				<tr>
					<th>
						<h4>İndirimli Ürünler: </h4>
					</th>
					<th width="15%" class="sagaHizala">
						Fiyat
					</th>
				</tr>
			</table>
			<table width="100%">
						<% @Products.each do |product| %>	
				<tr>
					<td width="13%">
						
							<%= form_for(@order_item, remote: true) do |f| %>
							<div class="input-group input-group-sm">
								<%= f.hidden_field :product_id, value: product.id %>
								<%= f.text_field :quantity, value: 1, min: 1, class: 'form-control smInput' %>
								<span class="input-group-btn smInput">
									<%= f.submit "+", class: 'btn btn-secondary' %>
								</span>
								<div class="form-group">
								</div>
								</div>
							<% end %>
							
					</td>
					<td>
						<p class="card-text ml-4" id="urun-<%= product.id %>">&nbsp;<%= product.title %></p>
					</td>
					<td class="sagaHizala" class="sagaHizala">
						<p class="card-text"><del><%= product.normal_price %> ₺</del><b> | <span id="fiyat-<%= product.id %>"><%= product.discounted_price %></span> ₺</b></p>
					</td>
				</tr>
<% end %>

			</table> 
			<br>
			<!--
			<div class="card" style="padding: 30px;">
			            <label for="shopping-cart-items" class="col-form-label"><b>Yorumlar (10)</b></label><hr>
  			
				<p><b>Siri:</b> <p style="margin-left: 15px;"> <span style="background-color: orange; color: white;  border: 1px solid black; border-radius: 5px;">&nbsp;5&nbsp;</span> Salatası çok tazeydi, güzeldi.</p><hr>
				<p><b>Alexa: </b><p style="margin-left: 15px;"> <span style="background-color: orange; color: white;  border: 1px solid black; border-radius: 5px;">&nbsp;5&nbsp;</span> Sipariş hızlı geldi, güzeldi.</p>
	
			  
        </div>
		</div><!-- col-md-8 -->


						<!--<p style="margin-top: 10px; margin-left: 30px;"><span style="background-color: orange; color: white;  border: 1px solid black; border-radius: 5px;">&nbsp;4&nbsp;</span> Alexa <p style="margin-left: 30px;"> Salatası çok tazeydi, güzeldi.</p>-->
	

</div><!-- /row -->
</div><!-- /container-fluid-->
<br>






<!-- sepet popup -->

<div class="modal fade" id="sepetModal" tabindex="-1" role="dialog" aria-labelledby="sepetModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sepetModalLabel">Sepetiniz</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="shopping-cart-items" class="col-form-label"><b>Sepetinizdeki ürünler:</b></label>
            <!-- <p id="urunler">Sepetinize henüz bir ürün eklemediniz.</p> -->
						<ul id="sec" class="list-group list-group-flush" >
  						</ul>          
  						<center><b><p id="toplam">Toplam Tutar: 0 ₺</p></b></center>
  			
  			<label for="shopping-cart-payment" class="col-form-label"><b>Ödeme bilgileri:</b></label><br>
			<table width="100%">
			<tr><td><input type="radio" name="odeme" aria-label="nakit" checked> Nakit 
			</td><td><input type="radio" name="odeme" aria-label="kart"> Banka/kredi kartı </td><td><% if @company.delivery == true %>
        	<input type="checkbox" aria-label="siparis" > Adrese teslim
        	<% end %></td></tr>	
			</table>
			  
  					</div>
          <div class="form-group">
            <label for="message-text" class="col-form-label"><b>Sipariş notu:</b></label>
            <textarea class="form-control" id="message-text" placeholder="Restorana iletmek istediğiniz bir talebiniz varsa buraya yazabilirsiniz."></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
        <button type="button" class="btn btn-primary">Sepeti Onayla</button>
      </div>
    </div>
  </div>
</div>



<script>
var toplam = 0;
	function urunEkle(clicked_id){
	  var adet = document.getElementById("adet-"+clicked_id).value;
	  var urun = document.getElementById("urun-"+clicked_id).textContent;
	  var fiyat = document.getElementById("fiyat-"+clicked_id).textContent;
	  
	  //document.getElementById("urunler").innerHTML = adet + urun + " - " + fiyat*adet + " ₺";
	  
      var yenielement = document.createElement("p");
      var icerik = document.createTextNode(adet + urun + " - " + fiyat*adet + " ₺");
      yenielement.appendChild(icerik);
      var sec = document.getElementById("sec");
      sec.appendChild(yenielement);
      toplam = toplam + fiyat*adet
      document.getElementById("toplam").innerHTML = "Toplam tutar: " + toplam + " ₺";
	}
</script>



<% if user_signed_in? %>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
<% end %>