
<div class="container-fluid pt-5">
    <div class="row mt-5"> 
<%= render "layouts/shopping_cart" %>

<div class="col-md-8 offset-md-1 profilSayfasi">
<div class="card" style="padding: 30px; margin: 20px;">
	<label for="shopping-cart-items" class="col-form-label"><center><b>Sepetinizdeki Ürünler</b></center></label>
                        <div class="cart_item">
<%= render "carts/cart_item" %>        
  	    </div>
  	    </div>
