
<%= simple_form_for(@final_order) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
  <% if @order_items.size>0 %>

		<table width="100%">	
			
	<% @order_items.each do |item| %>
	
				<tr>
					<td width="7%">
							<div class="input-group input-group-sm">
							  <%= f.hidden_field :order_item_id, value: item.id %>
							  <%= f.hidden_field :order_id, value: item.order_id %>
								<%#= f.hidden_field :product_id, value: item.product.id %>
								<%= item.quantity.to_i %> adet
								<!-- <span class="input-group-btn smInput">
									<%#= link_to "Güncelle", class: 'btn btn-secondary', url_for(:back) %>
								</span> -->
								<div class="form-group">
								</div>
								</div>
														</td>
					<td width="75%">
						<p class="card-text ml-5" style="padding-left:20px;" >&nbsp; <%= link_to "Sil", item, method: :delete, remote: true, class: 'btn btn-danger' %> <%= item.product.title %> </p>
					</td>
					<td width="20%" class="sagaHizala" class="sagaHizala">
						<p class="card-text"><del><%= item.product.normal_price %> ₺</del><b> | <span id="fiyat-<%= item.product.id %>"><%= item.product.discounted_price %></span> ₺</b></p>
					
					</td>
				</tr>
	
	<% end %>
	</table> 
<% else %>
	
<% end %>

<center><b><span class="cart"><p><%= current_order.order_items.size %> Adet ürün</p>
				     	<p>Toplam Tutar: <%= current_order.subtotal %> ₺</p></span></b></center>
  			
  			<label for="shopping-cart-payment" class="col-form-label"><b>Ödeme bilgileri:</b></label><br>
			<table width="100%">
			<tr><td><%= f.radio_button :payment_method, "nakit", :checked => true %><%= label_tag(:payment_method_nakit, " Nakit ") %>
			</td><td><%= f.radio_button :payment_method, "kredi veya banka karti" %><%= label_tag(:payment_method_nakit, " Kredi / Banka Kartı ") %> </td><td>
        	<!--<%#= f.check_box :delivery %><%#= label_tag(:delivery, " Adrese teslimat") %>
        	</td>--></tr>	
			</table>
			  
          <div class="form-group">
            <label for="message-text" class="col-form-label"><b>Sipariş notu:</b></label>
            <%= f.text_area :order_message, class: 'form-control', placeholder: 'Restorana iletmek istediğiniz bir talebiniz varsa buraya yazabilirsiniz.' %>
          </div>

          <div class="form-group">
            <label for="message-text" class="col-form-label"><b>Adınız ve Soyadınız:</b></label>
            <%= f.text_field :name, class: 'form-control', placeholder: 'Siparişinizi alırken sorulacak' %>
          </div>

<!--          <div class="form-group">
            <label for="message-text" class="col-form-label"><b>Adres:</b></label>
            <%#= f.text_area :address, class: 'form-control', placeholder: 'Adresi eksiksiz yazmanız ve çevrenizdeki bilinen yerlerle tanımlamanız önemli.' %>
          </div>
-->          
          <div class="form-group">
            <label for="message-text" class="col-form-label"><b>Telefon:</b></label>
            <%= f.text_field :phone, class: 'form-control', placeholder: 'Herhangi bir aksaklıkta iletişime geçebileceğimiz bir telefon numarası giriniz' %>
          </div>
          
		<% if @order_items.size>0 %>
			<center><%= f.submit "SİPARİŞİ ONAYLA", class: 'btn btn-success' %></center>
        <% else %> 
          <center><button class="btn btn-success" disabled>SİPARİŞİ ONAYLA</button></center>
       	<% end %>
        </form>
        </div>
		</div>
		
</div>
</div>
<% end %>
