<p id="notice"><%= notice %></p>

<h1>Listing Final Orders</h1>

<table border="1">
  <thead>
    <tr>
      <th>Sipariş id</th>
      <th>Order item</th>
      <th>Order</th>
      <th>Sipariş notu</th>
      <th>Sipariş</th>
      <th>Ödeme Yöntemi</th>
      <th>Ad Soyad</th>
      <th>Telefon</th>
      <th>Oluşturuldu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @final_orders.each do |final_order| %>
      <tr>
        <td><%= final_order.id %></td>
        <td><%= final_order.order_item_id %></td>
        <td><%= final_order.order_id %></td>
        <td><%= final_order.order_message %></td>
        <td><%= final_order.delivery %></td>
        <td><%= final_order.payment_method %></td>
        <td><%= final_order.name %></td>
        <td><%= final_order.phone %></td>
        <td><%= final_order.created_at %></td>
        <td><%= link_to 'Show', final_order %></td>
        <td><%= link_to 'Edit', edit_final_order_path(final_order) %></td>
        <td><%= link_to 'Destroy', final_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Final order', new_final_order_path %>
