<% if !@order_item.nil? && @order_item.errors.any? %>
	<ul>
		<% @order_item.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<div class="container-fluid pt-5">
    <div class="row mt-5"> 
<%= render "layouts/shopping_cart" %>

<div class="col-md-8 offset-md-1 profilSayfasi">
<div class="card" style="padding: 30px; margin: 20px;">
	<label for="shopping-cart-items" class="col-form-label"><center><b>Sepetinizdeki Ürünler</b></center></label>
                        <div class="cart_item">
<%#= render "carts/cart_item" %>        
<%= render 'form' %>


  	    </div>
  	    </div>

<% if user_signed_in? %>
<%= link_to 'Tüm siparişleri görüntüle', final_orders_path %>
<% end %> 