<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Order item:</strong>
  <%= @final_order.order_item_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @final_order.order_id %>
</p>

<p>
  <strong>Order message:</strong>
  <%= @final_order.order_message %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @final_order.delivery %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @final_order.payment_method %>
</p>

<%= link_to 'Edit', edit_final_order_path(@final_order) %> |
<%= link_to 'Back', final_orders_path %>
<% end %>

<center><h2> Siparişiniz alınmıştır. İndirimli saatler içerisinde işletmeye giderek isminizi söyleyin ve siparişinizi alın</h2></center>