/******************* @Override *******************/

body, html
{
    height: 100%;
    margin: 0;
}

a.baslik{
    color: #fff;
}

a.baslik:hover{
    color: #fff;
    opacity: .8;
}

a{
    color: #0645AD;
}


@media (max-width: 600px) { 
    hr{
        margin-left: 0%;
        margin-right: 0%;
    }
    
    .footer-mobile{
        display: none;         
    }
    
    .footerYatayAyrac{
        display: none;
    }
    
    .bg{
        margin-top: -130px;
        background-image: url("mobile-muffin.jpg");
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;  
        padding-top: 0;
    }
}

@media (min-width: 600px) { 
    hr{
        margin-left: 25%;
        margin-right: 25%;
    }
    .bg {
    margin-top: -85px;
    background-image: url("muffin.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    padding-top: 0;
    }
}
/*
section {
  position: relative;
  width: 100%;
  height: 100%;
}

section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  white-space: nowrap;
}
*/
/******************* MENÜ BAŞLANGICI *******************/

.menuItems
{
	color: #fff;
}
@media (max-width: 720px) {
    .menuItems{
	    color: #000;
	} 
}

.menuHour
{
	color: #fff;
}
@media (max-width: 720px) {
    .menuHour{
	    color: #000;
	} 
}


.siteAdi
{
	font-family: 'Pacifico', cursive;
	font-size: 35px;
	color: white;
}

/* iç sayfadaki menulerin arka planı */
.header-bg
{
    background-image: url("header.jpg");
}

.shoppingMenuBaslik{
    font-size: 30px;
}

@media (max-width: 720px) {
    .shoppingMenuBaslik{
        margin-top: 100px; 
    } 
}

@media (min-width: 320px) {
    .responsiveTexts{
        font-size: 25px; 
    } 
}

@media (min-width: 768px) { 
    .responsiveTexts{
        font-size: 30px; 
    }
}







/*

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
    background: rgb(102, 204, 255); 
    background: rgba(0,0,255,0.3); 
}

*/






/*
.shoppingMenu{
    margin-top: 10px;
    padding: 10px;
}

.aciklama
{
    margin-top: 3%;
}

.restoranFiltre
{
    margin-top:-30px;
}
/******************* MENÜ BİTİŞİ *******************/




/******************* ANA SAYFA BAŞLANGICI *******************/


.jumbotron
{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
}

.tanitim
{
	margin-top: 30px;
}

.tanitim-metni{
  margin-right: 20px;
  margin-left: 20px;
}

.anasayfaBaslik
{
	font-size: 40px;
}

.siyahBg
{
	background-color: #383838;
}

.footerBasliklari{
    font-size: 22px;
    margin-top: 30px;
}

.footerAyrac{
    border-left: 1px solid #d3d3d3;
    height: 160px;
    margin-top: 30px;
}

.footerYatayAyrac{
    margin-left: 25%;
    margin-right: 25%;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-style: inset;
    border-width: 0.5px;
    color: #d3d3d3;
}

/******************* ANA SAYFA BİTİŞİ *******************/





/******************* ÜYE GİRİŞİ BAŞLANGICI *******************/

.uyelikGirisBg
{
    background-image: url("img/uyelik-form-bg.png");
    width: 100%; 
    height: 100%; 
}

.uyelikGiris
{
    padding-top:3%; 
}

.uyeBg
{
    background-image: url("img/uyelik-arka-plan.jpg");
    height: 87%; 
    padding-top: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.uyelikButton
{
    width: 100%;
    font-weight: bold;
}

/******************* ÜYE GİRİŞİ BİTİŞİ *******************/





/******************* ÜYE OL BAŞLANGICI *******************/
.uyeolBg
{
    background-image: url("img/uyelik-arka-plan.jpg");
    height: 130%; 
    padding-top: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form-control
{
    margin-bottom: 5px;
    width: 100%;
    font-weight: bold;
}

.uyeOlTabs
{
    font-size: 18px;
    font-weight: bold;
    color:#585858;
}

/******************* ÜYE OL BİTİŞİ *******************/





/******************* RESTORANLAR SAYFASI BAŞLANGIÇ *******************/

.restoranListeResim{
  	background-color: #fff;
 	border: 1px solid #ddd;
 	border-radius: 0.10rem;
  	transition: all 0.2s ease-in-out;
  	max-width: 100%;
}

.resListeSaati{
	margin-top: -25px;
	margin-bottom: 3px;
}

.restoranPuan{
    color: #F3DB2B;
    font-weight: bold;
    font-size: 20px;
}

.textMiddle{
    vertical-align: initial;
}

/* @override */
.card-text{
    font-size: 14px;
    line-height: 100%;
}

/* @override */
.card-body{
    padding: 0.75rem;
}

/* @overide DEĞİŞECEK. */
.card-header{
    background-image: url("img/header.jpg");
}

.smInput{
    width: 12px;
}

.sagaHizala{
    text-align: right;
    padding-right: 10px;
}
@media (max-width: 720px) {
    .sagaHizala{
	    top: 50px;
	} 
}

.indirimSaatleri{
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: -7px;
}

/******************* RESTORANLAR SAYFASI BİTİŞ *******************/





/******************* PROFİL SAYFASI BAŞLANGIÇ *******************/

.profilHeader{
    background-color: #4BACC6;
    width: 100%;
    height: 100px; 
}

.profilSayfasi{
    margin-top: -80px;
}


.oncekiSiparisler{
    border: 1px solid black;
    padding: 10px;
}



/******************* PROFİL SAYFASI BİTİŞ *******************/

.footerAlignBottom {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}