<%= form_for(@product) do |f| %>
	<div class="container">
		<div class="form-group">
			<%= f.label :company_id, "Ürüne sahip firmanın id'si" %>
			<%= f.text_field :company_id, class: 'form-control' %>
		</div>
			
		<div class="form-group">
			<%= f.label :title, "Ürün adı" %>
			<%= f.text_field :title, class: 'form-control' %>
		</div>
	
		<div class="form-group">
			<%= f.label :normal_price, "Normal Fiyatı" %>
			<%= f.number_field :normal_price, value: 1, class: 'form-control', min: 1, step: :any %>
		</div>
		
		<div class="form-group">
			<%= f.label :discounted_price, "İndirimli Fiyatı" %>
			<%= f.number_field :discounted_price, value: 1, class: 'form-control', min: 1, step: :any %>
		</div>
		
		<div class="form-group">
			<%= f.label :remaining_stock, "Kalan Stok" %>
			<%= f.number_field :remaining_stock, value: 1, class: 'form-control', min: 1 %>
		</div>
		
		<div class="form-group">
			<%= f.label :discounted_time, "İndirimin geçerli olduğu saatler (örneğin: 22:00 - 00:00)" %>
			<%= f.text_field :discounted_time, class: 'form-control' %>
		</div>
	
		<%= f.submit "Save", class: 'btn btn-success' %>
    </div>
<% end %>