<div class="container">
<h1>Products</h1>

<%= link_to "New product", new_product_path %>

<div>
	<table class="table">
		<thead>
			<tr>
				<th>Firma id</th>
				<th>Ürün adı</th>
				<th>Normal fiyat</th>
				<th>İndirimli fiyat</th>
				<th>Kalan Stok</th>
				<th>İndirimli saatler</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @products.each do |product| %>
				<tr>
					<td><%= product.company_id %></td>
					<td><%= product.title %></td>
					<td><%= product.normal_price %></td>
					<td><%= product.discounted_price %></td>
					<td><%= product.remaining_stock %></td>
					<td><%= product.discounted_time %></td>
					
					<td>
						<%= link_to "Edit", edit_product_path(product) %>
						<%= link_to "Delete", product_path(product), method: :delete %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
</div>