<!--<div class="container-fluid siyahBg">
  <div class="footer-mobile">
    <div class="row menuItems">
      <div class="col">
        <p class="footerBasliklari">Hakkımızda </p>
        <p>Cazip Yemek, restoranların elinde kalan yemekleri kullanıcılarına en ucuz ücretlerle ulaştıran bir girişimdir.</p>
      </div>
      <div class="footerAyrac"></div>
      <div class="col">
        <p class="footerBasliklari">Blog</p>
        <p>• Neden Cazip Yemek?</p>
        <p>• Sipariş vermek</p>
        <p>• Maçla giden en iyi yemekler</p>
      </div>
      <div class="footerAyrac"></div>
      <div class="col">
        <p class="footerBasliklari">S.S.S.</p>
        <p>Aklınıza takılan sorular mı var? Sizin için derlediğimiz 
        sıkça sorulan soruları görmek için tıklayınız.</p>
      </div>
      <div class="footerAyrac"></div>
      <div class="col">
        <p class="footerBasliklari">Bizi Takip Edin</p>
        <p><img src="img/facebook.png"> Bize ulaşın </p>
        <p><img src="img/twitter.png"> Anlık paylaşımlar </p>
        <p><a class="baslik" href="https://www.instagram.com/cazipyemekcom/"><img src="img/instagram.png"> Lezzetli paylaşımlar</a></p>
      </div>
    </div>
</div>
<div class="footerYatayAyrac"></div>
<center><span class="menuItems"><img src="img/heart.png"> ile yapıldı.</span></center>
</div>-->
<div class="container-fluid navbar-fixed-bottom">
  <hr>
<center><p>❤ ile yapıldı.</p></center>
</div>