<!--
  <div  class="container-fluid header-bg" >
    <nav class="navbar">
        <div class="container">
          <a class="navbar-brand siteAdi menuItems responsiveTexts" href="/">CazipYemek</a>
          
<!--          <table>
          	<tr>
          		<td rowspan="2">
            		<img src="img/profile.png" class="rounded-circle" />
            	</td>
            	<td>
            		<span class="menuItems"> Hesabım</span>
            	</td>
            </tr>
            <tr>
            	<td>
            		<span class="menuItems"> Çıkış yap</span>
            	</td>
            </tr>
          </table> -->
 <!-- <span class="menuItems">Neden CazipYemek?</span>
        </div>
    </nav>

</div>
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
  <a class="navbar-brand siteAdi responsiveTexts" style="color:#fff" href="/">CazipYemek</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
       </li>
    </ul>
    <span class="navbar-text">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#neden-cazipyemek">Neden CazipYemek?</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#nasil-calisir">Nasıl Çalışır?</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link" href="#">Giriş Yap</a>
      </li>
      <a href="kayit-ol" type="button" class="btn btn-primary pull-right">
        Kayıt ol
      </a>
      -->
</ul>      
    </span>
  </div>
  </div>
</nav>
<!--


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar w/ text</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav>

-->