		<div class="profilSayfasi">
		<div class="col-md-3 offset-md-3">
			<div class="card" style="width: 15rem;">
			
				<% if City.exists?(slug: params[:id]) || District.exists?(slug: params[:id]) %>
					<img class="card-img-top img-thumbnail" src="../img/city/<%= @city.name %>.jpg" alt="profil">
				<% elsif Company.exists?(slug: params[:id]) %>
					<img class="card-img-top img-thumbnail" src="../img/company/<%= @company.name %>.jpg" alt="profil">
				<% else %> 
					
				<% end %> 
				  	<div class="card-body">
				     	<p><b>Sepetinizdeki ürünler:</b></p>
				     	<span class="cart"><p><%= current_order.order_items.size %> Adet ürün</p>
				     	<p>Toplam Tutar: <%= current_order.subtotal %> ₺</p></span>
				<% if current_page?(new_final_order_path) %>
					<%= link_to "Geri dön", url_for(:back) %>
				<% else %>
					<%= link_to "Sepeti Görüntüle", new_final_order_path %>
				<% end %>
				  	</div>
			</div><!-- /card -->
		</div><!--/profilSayfasi-->
		</div><!-- /col3 -->
