<!DOCTYPE html>
<html>
<head>
  <title>CazipYemek</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body>
  <%= render 'layouts/header' %> 
  <%= yield %>
  <div>
    <%= yield :add_menu %>
  </div>
  <%= render 'layouts/footer' %> 
</body>
</html>
